body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(141, 215, 244), rgb(237, 210, 210));
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 60%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: chocolate;
    text-shadow: 5px 5px 5px white;
}

input {
    width: 300px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 15px;
    box-shadow: 2px 0px 10px black;
}

input:focus {
    outline: none;
}

.buttons {
    margin: 16px;
}

.buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: chocolate;
    color: white;
    text-shadow: 0px 0px 1px black;
    cursor: pointer;
    box-shadow: 2px 0px 10px black;
    margin: 0 5px;
}

.buttons button:hover {
    background-color: white;
    color: chocolate;
}

.leads {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: skyblue;
    padding: 15px 10px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.leads a {
    text-decoration: none;
    color: rgb(17, 84, 207);
    margin: 5px;
    font-size: 16px;
}

.leads a:hover {
    color: blue;
    font-weight: bold;
}
