body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fcfcfe;
}

section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 50px 30px;
    background-color: darkblue;
    color: #edf2fb;
}

.top input {
    display: block;
    font-size: 3rem;
    color: #fcfcfe;
    background-color: darkblue;
    border: 1px solid #edf2fb;
    width: 80px;
    margin: 20px  auto;
    padding: 2px 0 2px 10px;
    outline: none;
}

.top button {
    padding: 8px 18px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    background-color: #edf2fb;
    color: green;
    cursor: pointer;
}

.bottom {
    width: 80vw;
    text-align: center;
}

.unit {
    background-color: #e7ebf1;
    color: #003459;
    padding: 3px;
    margin: 10px 0;
    border-radius: 4px;
}

.unit h1 {
    font-size: 1.3rem;
    font-weight: bold;
}

.unit p {
    color: #564538;
    font-size: 0.9rem;
}
